/*header*/

#header {
  position: relative;
  background: none;
  z-index: 99;
  nav {
    a#pull {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      li {
        padding: 30px 0;
        list-style: none;
        a {
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 15px;
          color: #000000;
        }
        &.active-menu a, a:hover {
          color: #000;
        }
      }
    }
  }
  .header-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .hdLeft{
    padding: 10px 0;
    .hdLogo{
      max-width: 310px;
      width: 100%;
    }
  }
  .hdRight{
    max-width: 770px;
    width: 100%;
    .hdRightTop{
      text-align: center;
      p{
        padding: 20px 0;
        max-width: 490px;
        width: 100%;
        margin: 0 0 0 auto;
        background: #593E1A;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        span{
          margin-left: 10px;
          display: inline-block;
          vertical-align: baseline;
          font-weight: 700;
          font-size: 25px;
        }
      }
    }
    .hdRightBot{

    }
  }
}
