/*-------------------------welcome-------------------------*/
#welcome{
  background: url(../images/common/section1.jpg)no-repeat center top;
  background-size: cover;
  padding: 70px 0;
  .welcome-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .wlcLeft{
      .container{
        text-align: left;
        padding: 41px 39px;
        max-width: 409px;
        width: 100%;
        border: 1px solid transparent;
        border-image-slice: 8 10 8 8;
        border-image-width: 8px 10px 8px 8px;
        border-image-outset: 0px 0px 0px 0px;
        border-image-repeat: stretch stretch;
        border-image-source: url(../images/content/border1.png);
        h1{
          position: relative;
          margin-bottom: 37px;
          &:after{
            content: '';
            width: 62px;
            height: 2px;
            background: #CCCCCC;
            bottom: -20px;
            left: 0;
            position: absolute;
          }
        }
        p{
          font-family: "Montserrat";
          font-weight: 400;
          font-size: 16px;
          color: #000000;
          line-height: 28px;
          margin-right: -143px;
          &:last-of-type{
            margin-bottom: 29px;
          }
        }
      }
    }
  }
}
