h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 80px;
  color: #266A2E;
  line-height: 94px;
  span{
    display: block;
    font-size: 33px;
    line-height: 42px;
    color: #000000;
    letter-spacing: 6px;
  }
}
