@font-face {
  font-family: "socialico";
  src: url("fonts/Socialico/Socialico.eot");
  src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face {
  font-family: 'Abel';
  src: url("fonts/Abel-Regular.woff2") format("woff2"), url("fonts/Abel-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Rajdhani';
  src: url("fonts/Rajdhani-Regular.woff2") format("woff2"), url("fonts/Rajdhani-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Seeing Stars';
  src: url("fonts/SeeingStars.woff2") format("woff2"), url("fonts/SeeingStars.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Italic.woff2") format("woff2"), url("fonts/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Medium.woff2") format("woff2"), url("fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

.suspension-contain {
  max-height: 980px;
  overflow: hidden;
  position: relative; }

html.suspended {
  background: rgba(0, 0, 0, 0.6); }

body {
  max-width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }

.row {
  max-width: 1200px;
  margin: 0 auto; }

/*floats*/
.fl {
  float: left; }

.fr {
  float: right; }

/*grids*/
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/*typography*/
.text-primary {
  color: #B11414; }

.text-bold {
  font-weight: 700; }

.text-uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left; }

/*button*/
.btn {
  text-align: center;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 600;
  color: #FFF;
  display: inline-block;
  padding: 10px 0;
  max-width: 170px;
  width: 100%;
  background: #79BEDB;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .btn:hover {
    background: #ddd;
    border-color: #ddd;
    color: #ddd;
    color: #000; }

/*clearings*/
.clear {
  clear: both; }

.clearfix {
  display: block; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta {
  display: none; }

/*contact form messages*/
form .messages p {
  display: none;
  font-family: Arial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important; }

form .loading {
  display: none; }

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

form [type="submit"] {
  margin: 20px auto; }

/*contact form*/
.ctc-form {
  margin: 0 auto;
  text-align: center; }
  .ctc-form input[type="text"] {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto 8px; }
  .ctc-form textarea {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto 8px;
    height: 120px;
    padding-top: 10px; }
  .ctc-form button {
    display: block; }
  .ctc-form .recap {
    display: inline-block; }
  .ctc-form .g-recaptcha div {
    margin: 0 auto 10px; }
  .ctc-form .ctc-hide {
    display: none; }

/*gallery*/
#content .gallery-container {
  text-align: center; }

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #content .gallery li {
    display: inline-block; }

#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: .42857;
  margin-bottom: 20px;
  padding: 4px;
  -webkit-transition: border 0.5s ease-in-out 0s;
  -o-transition: border 0.5s ease-in-out 0s;
  transition: border 0.5s ease-in-out 0s; }
  #content .thumbnail:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02); }

#content .page_navigation {
  display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative; }

#content .page_navigation > a:hover {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none; }

.page_navigation > a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none; }

h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 80px;
  color: #266A2E;
  line-height: 94px; }
  h1 span {
    display: block;
    font-size: 33px;
    line-height: 42px;
    color: #000000;
    letter-spacing: 6px; }

/*header*/
#header {
  position: relative;
  background: none;
  z-index: 99; }
  #header nav a#pull {
    display: none; }
  #header nav ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #header nav ul li {
      padding: 30px 0;
      list-style: none; }
      #header nav ul li a {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 15px;
        color: #000000; }
      #header nav ul li.active-menu a, #header nav ul li a:hover {
        color: #000; }
  #header .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  #header .hdLeft {
    padding: 10px 0; }
    #header .hdLeft .hdLogo {
      max-width: 310px;
      width: 100%; }
  #header .hdRight {
    max-width: 770px;
    width: 100%; }
    #header .hdRight .hdRightTop {
      text-align: center; }
      #header .hdRight .hdRightTop p {
        padding: 20px 0;
        max-width: 490px;
        width: 100%;
        margin: 0 0 0 auto;
        background: #593E1A;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF; }
        #header .hdRight .hdRightTop p span {
          margin-left: 10px;
          display: inline-block;
          vertical-align: baseline;
          font-weight: 700;
          font-size: 25px; }

/*banner*/
#banner {
  background: url(../images/common/bgBanner.jpg) no-repeat center top;
  background-size: cover;
  min-height: 900px;
  margin-top: -264px; }

/*-------------------------welcome-------------------------*/
#welcome {
  background: url(../images/common/section1.jpg) no-repeat center top;
  background-size: cover;
  padding: 70px 0; }
  #welcome .welcome-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #welcome .welcome-wrapper .wlcLeft .container {
      text-align: left;
      padding: 41px 39px;
      max-width: 409px;
      width: 100%;
      border: 1px solid transparent;
      border-image-slice: 8 10 8 8;
      border-image-width: 8px 10px 8px 8px;
      border-image-outset: 0px 0px 0px 0px;
      border-image-repeat: stretch stretch;
      border-image-source: url(../images/content/border1.png); }
      #welcome .welcome-wrapper .wlcLeft .container h1 {
        position: relative;
        margin-bottom: 37px; }
        #welcome .welcome-wrapper .wlcLeft .container h1:after {
          content: '';
          width: 62px;
          height: 2px;
          background: #CCCCCC;
          bottom: -20px;
          left: 0;
          position: absolute; }
      #welcome .welcome-wrapper .wlcLeft .container p {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        line-height: 28px;
        margin-right: -143px; }
        #welcome .welcome-wrapper .wlcLeft .container p:last-of-type {
          margin-bottom: 29px; }

/*footer*/
#footer {
  background: #04396C;
  padding: 40px 0; }
  #footer .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px; }

/*inner pages*/
.inner #content {
  min-height: 400px;
  padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto; }
  .inPrivacyBox p {
    text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
